<header>
    <div class="content">
        <img src="/icons/icon.png" alt="..." style="width: 60px; height: 60px; align-self: center; border-radius: 5px;">
        <!-- Icon taken from https://icons8.com/ -->
        <h1 style="margin-left: 325px;">Content Management system</h1>
    </div>

</header>